<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body class="wd-fixed-top-padding wd-fixed-bot-padding">

<nav class="navbar bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="nav navbar-brand">
            <b>Profile</b>
        </div>
                <div class="nav navbar-brand pull-right">
                    <a href="#" class="navbar-link wd-white-link">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
    </div>
</nav>


    <div ng-controller="ProfileController" class="container">
        <form>
            <div ng-model="model.user.username" class="form-group">
                <label for="username">Username</label>
                <input readonly type="text" class="form-control" id="username" placeholder="al1c3">
            </div>
            <div ng-model="model.user.email" class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Please enter your email address" value="alice@wonderland.com">
            </div>
            <div ng-model="model.user.first" class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control" id="first-name" placeholder="Please enter your first name" value="Alice">
            </div>
            <div ng-model="model.user.last" class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Please enter your last name" value="Wonderland">
            </div>
        </form>

        <a class="btn btn-primary btn-block"
           href="../website/website-list.html">Websites</a>
        <a class="btn btn-danger  btn-block"
           href="login.html">Logout</a>
    </div>

<nav class="navbar bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="nav navbar-brand pull-right">
            <a href="#" class="wd-white-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

</body>
</html>