<!DOCTYPE html>

<div ng-include="'views/common/header-default.view.client.html'"></div>

<div class="container-fluid wd-fixed-top-padding wd-fixed-bot-padding">
    <div ng-include="'views/common/error-message.view.client.html'"></div>
    <h2>Search for Items</h2>
    <select ng-model="model.category" class="form-control">
        <option ng-repeat="category in model.categories"
                value="{{category.id}}">{{category.name}}</option>
    </select>
    <input ng-model="model.searchTerm"
           class="form-control"
           placeholder="Enter a search term here."/>
    <button class="btn btn-primary btn-block"
            ng-click="model.searchItems()">
        Search
    </button>

    <div ng-if="model.searchResults">
        <h2>Search Results</h2>
        <ul class="list-group">
            <li ng-click="model.showDetails(item.id)" ng-repeat="item in model.searchResults.items"
                class="list-group-item wd-clickable">
                <img ng-src="{{item.icon}}" width="50px"/>
                <div><b>Name: </b> {{item.name}}</div>
                <div><b>Description: </b> {{item.description}}</div>
                <div><b>Members Only: </b> {{item.members}}</div>
            </li>
        </ul>
    </div>
</div>