<!DOCTYPE html>
<div class="container-fluid">
    <div ng-include="'views/common/error-message.view.client.html'"></div>
    <div class="row">
        <div class="col-xs-6">
            <h2>Search for Items</h2>
            <select ng-model="model.category">
                <option value="0">Miscellaneous</option>
                <option value="1">Ammo</option>
            </select>
            <input ng-model="model.searchTerm"
                   class="form-control"
                   placeholder="Enter a search term here."/>
            <button class="btn btn-primary btn-block"
                    ng-click="model.searchItems()">
                Search
            </button>
        </div>
        <div class="col-xs-6">
            <div ng-if="!model.details && model.searchResults"
            class="alert">Select an item to learn more about it</div>
            <div ng-if="model.details">
                <h2>Details</h2>
            </div>
        </div>
    </div>
</div>