input.form-control {
    margin-bottom: 5px;
}

body.fixed-top-padding {
    padding-top: 60px;
}

body.fixed-bot-padding {
    padding-bottom: 60px;
}

input.tall-input {
    min-height: 200px;
}

a.white-link {
    color: white;
}

li.list-group-item {
    border: none;
}

div.right-border {
    border-right: 1px solid #ddd;
}

div.row {
    height: 100%;
}