.form-control {
    margin-bottom: 5px;
}

body.fixed-top-padding {
    padding-top: 60px;
}

body.fixed-bot-padding {
    padding-bottom: 60px;
}

input.tall-input {
    min-height: 200px;
}

a.white-link {
    color: white;
}

li.list-group-item {
    border: none;
}

div.right-border {
    border-right: 1px solid #ddd;
}

div.full-height {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

div.sidebar-scroll {
    position: absolute;
    top: 40px;
    bottom: 10px;
    overflow: scroll;
    padding-top: 20px;
    padding-bot: 20px;
}

@media(min-width: 992px) {
    .col-md-8 {
        margin-left: 33%;
    }
}
