<!DOCTYPE html>

<div ng-include="'views/common/header-default.view.client.html'"></div>

<div class="container-fluid wd-fixed-top-padding wd-fixed-bot-padding">
    <div ng-include="'views/common/error-message.view.client.html'"></div>


    <div ng-if="model.user">
        <a class="btn btn-primary btn-block"
           href="#!/offer/new">
            Create Offer
        </a>
    </div>
    <h2>Search for Offers</h2>
    <label for="search-type">Type</label>
    <select ng-model="model.search.type"
            id="search-type" class="form-control">
        <option value="BUY">Buy</option>
        <option value="SELL">Sell</option>
    </select>

    <label for="search-comp">Show Completed Offers?</label>
    <input ng-model="model.search.completed" type="checkbox"
           id="search-comp" class="form-control wd-checkbox-left"/>

    <div>
        <label for="search-item">Item</label>
        <input ng-if="model.search.item"
               ng-model="model.search.item.name"
               id="search-item" class="form-control" readonly/>
        <input ng-if="!model.search.item" class="form-control" readonly
               value="Please search for an item using the button below."/>
        <a class="btn btn-primary btn-block form-control"
           ng-href="{{model.getSearchUrl()}}">
            Search for an item
        </a>
    </div>

    <button class="btn btn-primary btn-block"
            ng-click="model.searchOffers()">
        Search offers
    </button>

    <div ng-if="model.searchResults">
        <h2>Search Results</h2>
        <div ng-if="model.searchResults.length === 0"
             class="alert alert-danger">There are no results.</div>
        <ul class="list-group">
            <li ng-repeat="offer in model.searchResults"
                class="list-group-item wd-clickable">
                <div><b>Type: </b> {{offer.type}}</div>
                <div><b>Item: </b> {{offer.item.name}}</div>
                <div><b>Number: </b> {{offer.num}}</div>
                <div><b>Price per item: </b> {{offer.pricePer}}</div>
                <div><b>Completed: </b> {{offer.completed}}</div>
                <a href="#!/offer/detail/{{offer._id}}" class="btn btn-block btn-primary">Show Details</a>
            </li>
        </ul>
    </div>
</div>