<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="nav navbar-brand pull-left">
            <a href="{{model.urlPrev}}" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="nav navbar-brand">
            <b>{{model.headerTitle}}</b>
        </div>
        <div class="nav navbar-brand pull-right">
            <a href="{{model.urlNew}}" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>