<!DOCTYPE html>\
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="nav navbar-brand pull-left">
            <a href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="nav navbar-brand">
            <b>Widget Edit</b>
        </div>
        <div class="nav navbar-brand pull-right">
            <a ng-click="model.updateWidget()" class="navbar-link wd-clickable">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<form class="container wd-fixed-top-padding wd-fixed-bot-padding">
    <div ng-include="model.getWidgetEditUrl(model.widget.widgetType)"></div>
    <a class="btn btn-danger  btn-block" ng-click="model.deleteWidget()">Delete</a>
</form>

<div ng-include="'views/common/footer.view.client.html'"></div>