<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="nav navbar-brand pull-left">
            <a href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="nav navbar-brand">
            <b>Choose Widget</b>
        </div>
    </div>
</nav>

<div class="wd-fixed-top-padding wd-fixed-bot-padding">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="widgetType in model.widgetTypeList">
            <a href="{{model.getWidgetNewUrl(widgetType)}}">
                {{widgetType}}
            </a>
        </li>
    </ul>
</div>

<div ng-include="'views/common/footer/footer-default.view.client.html'"></div>