<!DOCTYPE html>\
<div ng-include="'views/common/header/header-default-back-ok.view.client.html'"></div>

<div class="container wd-fixed-top-padding wd-fixed-bot-padding">
    <div ng-include="'views/common/error-message.view.client.html'"></div>

    <form>
        <div ng-include="model.getWidgetEditUrl(model.widget.widgetType)"></div>
        <a class="btn btn-danger  btn-block" ng-click="model.deleteWidget()">Delete</a>
    </form>
</div>

<div ng-include="'views/common/footer/footer-default.view.client.html'"></div>