<!DOCTYPE html>
<div ng-include="'views/common/header/header-default-back-new.view.client.html'"></div>


<div class="container-fluid wd-fixed-top-padding wd-fixed-bot-padding" wbdv-sortable>
    <div ng-repeat="widget in model.widgetList" class="wd-widget" id="{{widget._id}}">
        <div class="wd-widget-toolbar">
            <a href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-include="model.getWidgetViewUrl(widget.widgetType)"></div>
    </div>
</div>

<div ng-include="'views/common/footer/footer-multi-icon.view.client.html'"></div>