<!DOCTYPE html>
<div ng-include="'views/common/header/header-primary-split.view.client.html'"></div>

<div class="row-fluid">
    <div class="col-md-4 hidden-sm hidden-xs wd-sidebar-scroll">

        <ul class="list-group">
            <li ng-repeat="website in model.websiteList" class="list-group-item">
                <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
                <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-md-8 wd-move-right wd-fixed-top-padding wd-fixed-bot-padding">

        <div ng-include="'views/common/error-message.view.client.html'"></div>

        <form>
            <label for="website-edit-name">
                Name
            </label>
            <input ng-model="model.website.name" type="text" placeholder="Name" id="website-edit-name" class="form-control"/>
            <label for="website-edit-desc">
                Description
            </label>
            <textarea ng-model="model.website.description" id="website-edit-desc" rows="3" placeholder="Description" class="form-control"></textarea>
            <a ng-click="model.deleteSite()" class="btn btn-block btn-danger">Delete</a>
        </form>

    </div>
</div>

<div ng-include="'views/common/footer/footer-primary.view.client.html'"></div>