<!DOCTYPE html>
<div class="row-fluid">
    <div class="col-md-4 hidden-sm hidden-xs wd-sidebar-scroll">

        <nav class="navbar bg-primary navbar-fixed-top wd-navbar-left">
            <div class="container-fluid">
                <div class="nav navbar-brand pull-left">
                    <a href="#!/user/{{model.userId}}/website" class="navbar-link wd-white-link">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="nav navbar-brand">
                    <b>Websites</b>
                </div>
                <div class="nav navbar-brand pull-right">
                    <a href="#!/user/{{model.userId}}/website/new" class="navbar-link wd-white-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </nav>
            <ul class="list-group">
                <li ng-repeat="website in model.websiteList" class="list-group-item">
                    <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                        {{website.name}}
                    </a>
                    <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
    </div>

    <div class="col-md-8">

        <nav class="navbar bg-primary navbar-fixed-top wd-navbar-right">
            <div class="container-fluid">
                <div class="nav navbar-brand">
                    <b>Edit Website</b>
                </div>
                <div class="nav navbar-brand pull-right">
                    <a ng-click="model.updateSite()" class="navbar-link wd-white-link">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </div>
        </nav>

        <form class="container-fluid wd-form-right wd-fixed-top-padding wd-fixed-bot-padding">
            <label for="website-edit-name">
                Name
            </label>
            <input ng-model="model.website.name" type="text" placeholder="Name" id="website-edit-name" class="form-control"/>
            <label for="website-edit-desc">
                Description
            </label>
            <textarea ng-model="model.website.description" id="website-edit-desc" rows="3" placeholder="Description" class="form-control"></textarea>
            <a ng-click="model.deleteSite()" class="btn btn-block btn-danger">Delete</a>
        </form>
    </div>
</div>

<nav class="navbar bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="nav navbar-brand pull-right">
            <a href="#!/user/{{model.userId}}" class="wd-white-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

</body>
</html>