<!DOCTYPE html>
<label for="widget-name">Name</label>
<input id="widget-name"
       type="text"
       class="form-control"
       ng-model="model.widget.name"
       placeholder="Widget Name"/>
<label for="widget-text">Text</label>
<input id="widget-text"
       type="text"
       class="form-control"
       ng-model="model.widget.text"
       placeholder="Widget Text"/>
<label for="widget-text-rows">Rows</label>
<input id="widget-text-rows"
       type="number"
       class="form-control"
       ng-model="model.widget.rows"
       placeholder="1"/>
<label for="widget-text-placeholder">Placeholder</label>
<input id="widget-text-placeholder"
       type="text"
       class="form-control"
       ng-model="model.widget.placeholder"
       placeholder="Placeholder text"/>
<label for="widget-text-formatted">Formatted</label>
<input id="widget-text-formatted"
       type="checkbox"
       class="form-control"
       ng-model="model.widget.formatted"/>