<!DOCTYPE html>
<label for="widget-youtube-name">Name</label>
<input id="widget-youtube-name" type="text" class="form-control" ng-model="model.widget.name"/>
<label for="widget-youtube-text">Text</label>
<input id="widget-youtube-text" type="text" class="form-control" ng-model="model.widget.text"/>
<label for="widget-youtube-url">URL</label>
<input id="widget-youtube-url" type="url" class="form-control" ng-model="model.widget.url"/>
<label for="widget-youtube-width">Width</label>
<input id="widget-youtube-width" type="text" class="form-control" ng-model="model.widget.width"/>