<!DOCTYPE html>
<label for="widget-header-name">Name</label>
<input id="widget-header-name"
       type="text"
       class="form-control"
       ng-model="model.widget.name"
       placeholder="Widget Name"/>

<label for="widget-header-text">Text</label>
<textarea id="widget-header-text"
          rows="3"
          class="form-control"
          ng-model="model.widget.text"
          placeholder="Widget Text"></textarea>

<label for="widget-header-size">Size</label>
<input id="widget-header-size"
       type="number"
       class="form-control"
       ng-model="model.widget.size"
       placeholder="Header Size"/>
