<!DOCTYPE html>
<label for="widget-image-name">Name</label>
<input id="widget-image-name"
       type="text"
       class="form-control"
       ng-model="model.widget.name"
       placeholder="Widget Name"/>

<label for="widget-image-text">Text</label>
<input id="widget-image-text"
       type="text"
       class="form-control"
       ng-model="model.widget.text"
       placeholder="Widget Text"/>

<label for="widget-image-url">URL</label>
<input id="widget-image-url"
       type="url"
       class="form-control"
       ng-model="model.widget.url"
       placeholder="Image URL"/>

<label for="widget-image-width">Width</label>
<input id="widget-image-width"
       type="text"
       class="form-control"
       ng-model="model.widget.width"
       placeholder="Image Width"/>

<label for="widget-image-upload">Upload</label>
<input id="widget-image-upload"
       type="file"
       class="form-control"/>
<a class="btn btn-block btn-primary wd-clickable wd-bot-margin">Upload Image</a>