<!DOCTYPE html>
<div class="container-fluid">
    <h1>What would you like to do?</h1>
    <!-- Display only if user is anonymous -->
    <a class="btn btn-primary btn-block" href="#!/login">Login</a>
    <a class="btn btn-primary btn-block" href="#!/register">Register</a>

    <!-- Display only if user is logged in -->
    <a class="btn btn-primary btn-block" href="#">Profile</a>

    <!-- Display always -->
    <a class="btn btn-primary btn-block" href="#">Search office hours</a>
    <a class="btn btn-primary btn-block" href="#">Search staff members</a>
    <a class="btn btn-primary btn-block" href="#">Leave a review of a staff member</a>

    <!-- Display only if user is tutor/TA -->
    <a class="btn btn-primary btn-block" href="#">Schedule/edit office hours</a>
    <a class="btn btn-primary btn-block" href="#">Schedule/edit lab times</a>

    <!-- Display only if admin user -->
    <a class="btn btn-primary btn-block" href="#">View requests</a>
</div>