<!DOCTYPE html>
<!-- Display only if user is tutor/TA -->
<a class="btn btn-primary btn-block" href="#">Schedule/edit office hours</a>
<a class="btn btn-primary btn-block" href="#">Schedule/edit lab times</a>
<a class="btn btn-primary btn-block" href="#">Apply for next semester</a>

<!-- Display only if admin user -->
<a class="btn btn-primary btn-block" href="#">View requests</a>

<!-- Display only if user is student -->
<a class="btn btn-primary btn-block" href="#">Schedule an interview</a>

<!-- Display always -->
<a class="btn btn-primary btn-block" href="#">Search office hours</a>
<a class="btn btn-primary btn-block" href="#">Search staff members</a>
<a class="btn btn-primary btn-block" href="#">Leave a review of a staff member</a>