<!DOCTYPE html>
<div ng-include="'views/common/header-default.view.client.html'"></div>

<div class="container-fluid wd-fixed-top-padding wd-fixed-bot-padding">
    <div class="container-fluid">
        <h3>User Information</h3>
        <div><b>Username: </b> {{model.user.username}}</div>
        <div ng-if="model.user.email"><b>Email address: </b> {{model.user.email}}</div>
        <div ng-if="model.user.firstName"><b>First name: </b> {{model.user.firstName}}</div>
        <div ng-if="model.user.lastName"><b>First name: </b> {{model.user.lastName}}</div>
    </div>
    <div class="container-fluid">
        <h3>Inventory</h3>
        <div><b>Gold: </b> {{model.user.gold}}</div>
        <div ng-if="model.user.items">
            <li class="list-group">
                <ul class="list-group-item"
                    ng-repeat="item in model.user.items">{{item}}</ul>
            </li>
        </div>
    </div>
    <div class="container-fluid" ng-if="model.memberInfo">
        <h3>Member Statistics</h3>
        <div>Total Level: {{model.memberInfo.totalskill}}</div>
        <div>Total XP: {{model.memberInfo.totalxp}}</div>
        <div>Combat Level: {{model.memberInfo.combatlevel}}</div>
        <div class="container-fluid">
            <h4>Skills</h4>
            <ul class="list-group">
                <li ng-repeat="skill in model.memberInfo.skillvalues"
                    class="list-group-item">
                    {{model.skillIdToName(skill.id)}}: {{skill.level}}
                </li>
            </ul>
        </div>
        <div class="container-fluid wd-bot-margin">
            <h4>Quests</h4>
            <div>Quests Started: {{model.memberInfo.questsstarted}}</div>
            <div>Quests Not Started: {{model.memberInfo.questsnotstarted}}</div>
            <div>Quests Completed: {{model.memberInfo.questscomplete}}</div>
        </div>
    </div>
    <a ng-click="model.logout()"
       class="btn btn-primary btn-block">Logout</a>
    <a href="#!/user/{{model.user._id}}" class="btn btn-primary btn-block">
        Edit my information
    </a>
</div>