<!DOCTYPE html>
<nav class="navbar bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="nav navbar-brand">
            <b>Profile</b>
        </div>
                <div class="nav navbar-brand pull-right">
                    <a ng-click="model.updateUser()" class="navbar-link wd-white-link">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
    </div>
</nav>

<div class="container-fluid wd-fixed-top-padding wd-fixed-bot-padding">
    <div ng-show="model.message" class="alert alert-success">{{model.message}}</div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input readonly
                   type="text"
                   class="form-control"
                   id="username"
                   ng-model="model.user.username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email"
                   placeholder="Please enter your email address"
                   ng-model="model.user.email"/>
        </div>
        <div class="form-group">
            <label for="runescapeName">Runescape Username</label>
            <input type="text" class="form-control" id="runescapeName"
                   placeholder="Please enter your runescape name"
                   ng-model="model.user.runescapeName"/>
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name"
                   placeholder="Please enter your first name"
                   ng-model="model.user.firstName"/>
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name"
                   placeholder="Please enter your last name"
                   ng-model="model.user.lastName">
        </div>
    </form>

    <div ng-if="model.memberInfo.error"
        class="container-fluid wd-bot-margin alert alert-danger">{{model.memberInfo.error}}</div>
    <div class="container-fluid" ng-if="model.memberInfo.name">
        <h3>Member Information</h3>
        <div>Total Level: {{model.memberInfo.totalskill}}</div>
        <div>Total XP: {{model.memberInfo.totalxp}}</div>
        <div>Combat Level: {{model.memberInfo.combatlevel}}</div>
        <div class="container-fluid">
            <h4>Skills</h4>
            <ul class="list-group">
                <li ng-repeat="skill in model.memberInfo.skillvalues"
                    class="list-group-item">
                    {{model.skillIdToName(skill.id)}}: {{skill.level}}
                </li>
            </ul>
        </div>
        <div class="container-fluid wd-bot-margin">
            <h4>Quests</h4>
            <div>Quests Started: {{model.memberInfo.questsstarted}}</div>
            <div>Quests Not Started: {{model.memberInfo.questsnotstarted}}</div>
            <div>Quests Completed: {{model.memberInfo.questscomplete}}</div>
        </div>
    </div>

    <a href="#!/"
       class="btn btn-primary btn-block">Home Page</a>
    <a ng-click="model.logout()"
       class="btn btn-primary btn-block">Logout</a>
    <a ng-click="model.unregister()"
       class="btn btn-danger btn-block wd-bot-margin">
        Unregister
    </a>
</div>