<!DOCTYPE html>
<div class="container-fluid">
    <h1>Project Home Page</h1>
    <a class="btn btn-primary btn-block" href="#!/login"
       ng-if="!model.user">Login</a>
    <a class="btn btn-primary btn-block" href="#!/register"
       ng-if="!model.user">Register</a>
    <a class="btn btn-primary btn-block" href="#!/item/search">
        Items</a>
    <a class="btn btn-primary btn-block" href="#!/offer/search">
        Offers</a>
    <a class="btn btn-primary btn-block" href="#!/profile"
       ng-if="model.user">Profile</a>
    <a class="btn btn-primary btn-block" href="#!/users"
        ng-if="model.admin">
        Manage Users
    </a>
</div>