<!DOCTYPE html>
<div ng-include="'views/common/header/header-default-back-new.view.client.html'"></div>

<div class="wd-fixed-top-padding wd-fixed-bot-padding">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="page in model.pageList">
            <a href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{page._id}}/widget">
                {{page.name}}
            </a>
            <a href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>

<div ng-include="'views/common/footer/footer-default.view.client.html'"></div>