<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pages</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body class="wd-fixed-top-padding wd-fixed-bot-padding">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="nav navbar-brand pull-left">
            <a href="../website/website-list.html" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="nav navbar-brand">
            <b>Pages</b>
        </div>
        <div class="nav navbar-brand pull-right">
            <a href="page-new.html" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<ul class="list-group">
    <li class="list-group-item">
        <a href="../widget/widget-list.html">
            Blog Post
        </a>
        <a href="page-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="../widget/widget-list.html">
            Blogs
        </a>
        <a href="page-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="../widget/widget-list.html">
            Home
        </a>
        <a href="page-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="../widget/widget-list.html">
            About
        </a>
        <a href="page-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="../widget/widget-list.html">
            Contact Us
        </a>
        <a href="page-edit.html">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </li>
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="nav navbar-brand pull-right">
            <a href="../user/profile.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

</body>
</html>