<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="nav navbar-brand pull-left">
            <a href="GO TO WEBSITE LIST" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="nav navbar-brand">
            <b>Pages</b>
        </div>
        <div class="nav navbar-brand pull-right">
            <a href="GO TO PAGE-NEW" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<ul class="list-group">
    <li class="list-group-item">
        <a href="GO TO WIDGET LIST">
            Blog Post
        </a>
        <a href="GO TO PAGE-EDIT">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="GO TO WIDGET LIST">
            Blogs
        </a>
        <a href="GO TO PAGE-EDIT">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="GO TO WIDGET LIST">
            Home
        </a>
        <a href="GO TO PAGE-EDIT">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="GO TO WIDGET LIST">
            About
        </a>
        <a href="GO TO PAGE-EDIT">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="GO TO WIDGET LIST">
            Contact Us
        </a>
        <a href="GO TO PAGE-EDIT">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </li>
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="nav navbar-brand pull-right">
            <a href="GO TO USER PROFILE">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>